[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[scripts]
call="python call.py"
call-i"python -i call.py"

[packages]
pandas = "==0.23.4"
requests = "==2.20.0"

[dev-packages]
